body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;

}


button {
  border: 2px solid #aaf;
  border-radius: 9px;
  cursor: pointer;
}

button:hover {
  background-color: #aaf;
  color: white;
}

li {
  line-height: 1.6;
  list-style: none;
  margin-bottom: 0.5rem;
}


.RadioAtnd{
  background-color: aqua;
}

.RadioDoorKeeper{
  background-color:  greenyellow;
}

.RadioConnpass{
  background-color: pink;
}